[Mysql]
Database = database name
Username = username
Password = password 
Host = url
Port = port

[Bot]
Prefix = r?
Owner = id
Token = token 

[Upload]
UPLOAD_URL = url.com/upload (POST)

[Env]
Dev = true

[End]
